<h1>Dashboard</h1>

<table id="user_thing_lookups" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th style="display:none">Sort</th>
    <th>Patient</th>
    <th>IVC <br><br><%= (Date.today-4).strftime("%d") %></th>
    <th><br><br><%= (Date.today-3).strftime("%d") %></th>
    <th><br>Diameter<br><%= (Date.today-2).strftime("%d") %></th>
    <th><br><br>Y</th>
    <th><br><br>T</th>
    <th><br><br> <%= (Date.today-4).strftime("%d") %></th>
    <th><br><br> <%= (Date.today-3).strftime("%d") %></th>
    <th><br>CI<br> <%= (Date.today-2).strftime("%d") %></th>
    <th><br><br>Y</th>
    <th><br><br>T</th>
    <th><br>Grade <br>RAP</th>
    <th style="display:none" colspan="1">ID</th>
  </tr>
  </thead>
  <tbody>
  <% @user_thing_lookups.each do |user_thing_lookup| %>
      <tr>
        <td style="display:none">
          <% @measures = Measure.where(thingname: Thing.find(user_thing_lookup.thing_id).thingname) %>

          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today && name == "ivc_diameter_max" %>
                  <% @ivc_today_max = m.value %><br>
              <% elsif date == Date.today && name == "ivc_diameter_min" %>
              <% else %>
              <% end %>
          <% end %>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today && name == "ivc_diameter_max" %>
              <% elsif date == Date.today && name == "ivc_diameter_min" %>
                  <% @ivc_today_min = m.value %>
              <% else %>
              <% end %>
          <% end %>

          <% if @ivc_today_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f)*100) %>
          <% end %>
        </td>

        <td>
          <b><%= Thing.find(user_thing_lookup.thing_id).name %></b>
        </td>

        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-4 && name == "ivc_diameter_max" %>
                  <b>Max:</b> <%= @ivc_4_max = m.value %><br>
              <% elsif date == Date.today-4 && name == "ivc_diameter_min" %>
              <% else %>
              <% end %>
          <% end %>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-4 && name == "ivc_diameter_max" %>
              <% elsif date == Date.today-4 && name == "ivc_diameter_min" %>
                 <b>Min:</b> <%= @ivc_4_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>

        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-3 && name == "ivc_diameter_max" %>
                  <%= @ivc_3_max = m.value %><br>
              <% elsif date == Date.today-3 && name == "ivc_diameter_min" %>
              <% else %>
              <% end %>
          <% end %>
        <% @measures.order(:value).each do |m| %>
            <% date = m.datetime.to_date %>
            <% name = m.name %>
            <% if date == Date.today-3 && name == "ivc_diameter_max" %>
            <% elsif date == Date.today-3 && name == "ivc_diameter_min" %>
                <%= @ivc_3_min = m.value %>
            <% else %>
            <% end %>
        <% end %>
        </td>
        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-2 && name == "ivc_diameter_max" %>
                  <%= @ivc_2_max = m.value %><br>
              <% elsif date == Date.today-2 && name == "ivc_diameter_min" %>
              <% else %>
              <% end %>
          <% end %>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-2 && name == "ivc_diameter_max" %>
              <% elsif date == Date.today-2 && name == "ivc_diameter_min" %>
                  <%= @ivc_2_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-1 && name == "ivc_diameter_max" %>
                  <%= @ivc_yesterday_max = m.value %><br>
              <% elsif date == Date.today-1 && name == "ivc_diameter_min" %>
              <% else %>
              <% end %>
          <% end %>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-1 && name == "ivc_diameter_max" %>
              <% elsif date == Date.today-1 && name == "ivc_diameter_min" %>
                  <%= @ivc_yesterday_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today && name == "ivc_diameter_max" %>
                  <%= @ivc_today_max = m.value %><br>
              <% elsif date == Date.today && name == "ivc_diameter_min" %>
              <% else %>
              <% end %>
          <% end %>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today && name == "ivc_diameter_max" %>
              <% elsif date == Date.today && name == "ivc_diameter_min" %>
                  <%= @ivc_today_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>

        <td>
          <% if @ivc_4_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_4_max.to_f - @ivc_4_min.to_f)/@ivc_4_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if @ivc_4_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_3_max.to_f - @ivc_3_min.to_f)/@ivc_3_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if @ivc_4_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_2_max.to_f - @ivc_2_min.to_f)/@ivc_2_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if @ivc_yesterday_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_yesterday_max.to_f - @ivc_yesterday_min.to_f)/@ivc_yesterday_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if @ivc_today_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if ((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f) > ".5".to_f && (((@ivc_today_max.to_f + @ivc_today_min.to_f)/2) <= "21".to_f) %>
              <%= "Normal" %>
          <% elsif (((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f) < ".5".to_f) && (((@ivc_today_max.to_f + @ivc_today_min.to_f)/2) <= "21".to_f) %>
              <%= "Intermediate" %>
          <% elsif (((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f) < ".5".to_f) && (((@ivc_today_max.to_f + @ivc_today_min.to_f)/2)  > "21".to_f) %>
              <%= "High" %>
          <% else %>
          <% end %>
        </td>
        <td style="display:none" ><%= Thing.find(user_thing_lookup.thing_id).id%></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New User Thing Lookup', new_user_thing_lookup_path %>

<script>
  function addRowHandlers() {
    var table = document.getElementById("user_thing_lookups");
    var rows = table.getElementsByTagName("tr");
    for (i = 0; i < rows.length; i++) {
      var currentRow = table.rows[i];

      var createClickHandler =
          function(row)
          {
            return function() {
              var cell = row.getElementsByTagName("td")[13];
              var id = cell.innerHTML;
              window.open('measures.'+ id,'_self');
            };
          };
      currentRow.onclick = createClickHandler(currentRow);
    }
  }

  function colourRow(){
    var table = document.getElementById("user_thing_lookups");
    var rows = table.getElementsByTagName("tr");
    for (i = 0; i < rows.length; i++) {
      var currentRow = table.rows[i];
      var  x = currentRow.cells[13].innerHTML;

      var onLoadHandler =
          function (row)
          {
           // var cell = row.getElementsByTagName("td")[13].i;
           // var id = cell.valueOf();
            var id4 = 45;
            if (x  > 18) {
              row.style.backgroundColor = "#EEF4EA";
            }

              return function () {

             };
      };
      currentRow.onload = onLoadHandler(currentRow);
    }
  };

  window.onload = addRowHandlers();
  window.onload = colourRow();

</script>
