<h1>Dashboard</h1>

<table id="user_thing_lookups" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Patient</th>
    <th>IVC <br>&empty;<br><%= (Date.today-4).strftime("%d/%m") %></th>
    <th><br>&empty;<br><%= (Date.today-3).strftime("%d/%m") %></th>
    <th><br>&empty;<br><%= (Date.today-2).strftime("%d/%m") %></th>
    <th><br>&empty;<br>Yesterday</th>
    <th><br>&empty;<br>Today</th>
    <th><br>%<br> <%= (Date.today-4).strftime("%d/%m") %></th>
    <th><br>%<br> <%= (Date.today-3).strftime("%d/%m") %></th>
    <th><br>%<br> <%= (Date.today-2).strftime("%d/%m") %></th>
    <th><br>%<br>Yesterday</th>
    <th><br>%<br>Today</th>
    <th><br>Grade <br>RAP</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @user_thing_lookups.each do |user_thing_lookup| %>

      <tr>
        <td>
          <%= Thing.find(user_thing_lookup.thing_id).name %>
        </td>
        <% @measures = Measure.where(thingname: Thing.find(user_thing_lookup.thing_id).thingname) %>
        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-4 && name == "ivc_diameter_max" %>
                  /<%= @ivc_4_max = m.value %>
              <% elsif date == Date.today-4 && name == "ivc_diameter_min" %>
                  <%= @ivc_4_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-3 && name == "ivc_diameter_max" %>
                  /<%= @ivc_3_max = m.value %>
              <% elsif date == Date.today-3 && name == "ivc_diameter_min" %>
                  <%= @ivc_3_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-2 && name == "ivc_diameter_max" %>
                  /<%= @ivc_2_max = m.value %>
              <% elsif date == Date.today-2 && name == "ivc_diameter_min" %>
                  <%= @ivc_2_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today-1 && name == "ivc_diameter_max" %>
                  /<%= @ivc_yesterday_max = m.value %>
              <% elsif date == Date.today-1 && name == "ivc_diameter_min" %>
                  <%= @ivc_yesterday_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% @measures.order(:value).each do |m| %>
              <% date = m.datetime.to_date %>
              <% name = m.name %>
              <% if date == Date.today && name == "ivc_diameter_max" %>
                  /<%= @ivc_today_max = m.value %>
              <% elsif date == Date.today && name == "ivc_diameter_min" %>
                  <%= @ivc_today_min = m.value %>
              <% else %>
              <% end %>
          <% end %>
        </td>
        <td>
          <% if @ivc_4_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_4_max.to_f - @ivc_4_min.to_f)/@ivc_4_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if @ivc_4_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_3_max.to_f - @ivc_3_min.to_f)/@ivc_3_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if @ivc_4_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_2_max.to_f - @ivc_2_min.to_f)/@ivc_2_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if @ivc_yesterday_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_yesterday_max.to_f - @ivc_yesterday_min.to_f)/@ivc_yesterday_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if @ivc_today_max.to_f == 0.to_f %>
          <% else %>
              <%= sprintf('%.2f', ((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f)*100) %>
          <% end %>
        </td>
        <td>
          <% if ((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f) > ".5".to_f && (((@ivc_today_max.to_f + @ivc_today_min.to_f)/2) <= "21".to_f) %>
              <%= "Normal" %>
          <% elsif (((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f) < ".5".to_f) && (((@ivc_today_max.to_f + @ivc_today_min.to_f)/2) <= "21".to_f) %>
              <%= "Intermediate" %>
          <% elsif (((@ivc_today_max.to_f - @ivc_today_min.to_f)/@ivc_today_max.to_f) < ".5".to_f) && (((@ivc_today_max.to_f + @ivc_today_min.to_f)/2)  > "21".to_f) %>
              <%= "High" %>
          <% else %>
          <% end %>
        </td>
        <td><%= link_to 'Measures', measures_path(user_thing_lookup) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New User Thing Lookup', new_user_thing_lookup_path %>

<p>Click the button to display an alert box:</p>

<button onclick="myFunction()">Try it</button>

<script>
  function myFunction() {
    alert("I am an alert box!");
  }

  function addRowHandlers() {
    var table = document.getElementById("user_thing_lookups");
    var rows = table.getElementsByTagName("tr");
    for (i = 0; i < rows.length; i++) {
      var currentRow = table.rows[i];
      var createClickHandler =
          function(row)
          {
            return function() {
              var cell = row.getElementsByTagName("td")[0];
              var id = cell.innerHTML;
              alert("id:" + id);
              // window.open('measures.7','_self');
            };
          };

      currentRow.onclick = createClickHandler(currentRow);
    }
  }
  window.onload = addRowHandlers();
</script>
